.certificacao {
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(123, 194, 123);
}

.certificacao__logo {
    width: 30%;
}

.certificacao__titulo {
    color:var(--cor-primaria);
}

@media screen and(min-width:720px ){
    
}