.eu__quero {
    background-color: var(--cor-secundaria);
    display:flex;
    flex-direction: column;
    align-items: center;
}

.eu__quero-imagem {
    
    width:30%;
    cursor:pointer;
    margin-top: 40px;
    border-radius: 5%;
    border:rgb(112, 147, 80) solid 3px;
}





